<section class="wrapper">
    <div class="index-slider swiper-container">
        <div class="swiper-wrapper" *ngIf="bannerList && bannerList.length > 0">
            <div *ngFor="let item of bannerList" class="swiper-slide">
                <div class="index-banner-img">
                    <div class="img" [style.background-image]="'url(' + item.image.thumb + ')'"></div>
                </div>
                <ul class="hexgrid" *ngIf="item.image_list && item.image_list.length >0">
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <h1></h1>
                            <p></p>
                        </a>
                    </li>
                    <li class="hex" *ngFor="let imageList of item.image_list;">
                        <a class="hexIn" href="#" 
                        [style.background-image]="'url(' + imageList.image.thumb + ')'">
                            <h1>{{imageList.title}}</h1>
                        </a>
                    </li>
                   
                </ul>
                <div class="index-text">
                    <p class="text-zh">
                        <span [innerHTML]="item.introduction_info.introduction_cn"></span>
                    </p>
                    <p class="text-en">
                            <span [innerHTML]="item.introduction_info.introduction_en"></span>

                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- <div class="loading-box">
        <div class="loading-img">
        </div>
    </div>
    <div class="popScreenH"></div> -->