<!--The content below is only a placeholder and can be replaced.-->
<header class="header home">
    <div class="brand">
        <a href="#">
            <div class="brand-logo">
                <img src="assets/images/website-top-logo.png" alt="上海汪壳">
            </div>
            <div class="brand-text">WANGSHELL</div>
        </a>
    </div>
    <div class="header-btn">
        <button type="button" class="menu">
            <span class="menu-lines"></span>
        </button>
    </div>
</header>

<router-outlet></router-outlet>

<div class="sidebar">
    <div class="sidebar-menu">
    </div>
    <nav class="nav">
        <ul>
            <li class="active">
                <a routerLink="/home" data-text="HOME">
                    <div>HOME</div>
                </a>
            </li>
            <li>
                <a routerLink="/works" data-text="WORKS">
                    <div>WORKS</div>
                </a>
            </li>
            <li>
                <a routerLink="/about" data-text="ABOUT">
                    <div>ABOUT</div>
                </a>
            </li>
        </ul>
    </nav>
</div>

<footer class="web-footer" *ngIf="clientSetting">
    <p class="contact">
        <span>
            <span class="address">{{clientSetting.contact_address}}</span>
            <span class="email">{{clientSetting.contact_email}}</span>
            <span class="tel">
                <a href="tel://17717458103">{{clientSetting.contact_number}}</a>
            </span>
        </span>
    </p>
    <p class="copyright">
        <span>Copyright&copy;上海汪壳网络科技有限公司 版权所有 沪ICP备 18006224号-1</span>
    </p>
</footer>