<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
    <div class="sidebar-menu">
    </div>
    <nav class="nav">
        <ul>
            <li class="active">
                <a routerLink="/home" data-text="HOME">
                    <div>HOME</div>
                </a>
            </li>
            <li>
                <a routerLink="/works" data-text="WORKS">
                    <div>WORKS</div>
                </a>
            </li>
            <li>
                <a routerLink="/about" data-text="ABOUT">
                    <div>ABOUT</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>