<section class="wrapper">
    <section class="about">
        <div class="about-content">
            <div class="about-text" *ngIf="aboutData">
                <h1>{{aboutData.title}}</h1>
                <p [innerHTML]="aboutData.content"></p>
            </div>
            <div class="client">
                <ul>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/CBA.jpg" alt="">
                            </span>
                            <span class="text">神州百事通</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/DA.jpg" alt="">
                            </span>
                            <span class="text">多摩仕奥瑞</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/chanel.jpg" alt="">
                            </span>
                            <span class="text">香奈儿</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/jh.jpg" alt="">
                            </span>
                            <span class="text">晶享⾦融</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/ldq.jpg" alt="">
                            </span>
                            <span class="text">LEX绿⾖圈</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/lj.jpg" alt="">
                            </span>
                            <span class="text">LEX律箭</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/mryj.jpg" alt="">
                            </span>
                            <span class="text">每日瑜伽</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/oye.jpg" alt="">
                            </span>
                            <span class="text">喔耶</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/vhouse.jpg" alt="">
                            </span>
                            <span class="text">Vhouse</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/qbc.jpg" alt="">
                            </span>
                            <span class="text">七宝池</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/tprs.jpg" alt="">
                            </span>
                            <span class="text">太平人寿</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/xbwbh.jpg" alt="">
                            </span>
                            <span class="text">西部文博会</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>