<section class="wrapper">
    <section class="about">
        <div class="about-content">
            <div class="about-text">
                <h1>关于我们</h1>
                <p>我们是一家专注于移动互联网开发，网络营销咨询服务的技术与服务提供商。依托10年以上的研发实力与项目管理经验，运用云计算、大数据、人工智能等前沿创新技术，聚焦用户体验，为企业提供定制化移动互联网、物联网解决方案、社群产品、电商平台建设与营销解决方案。</p>
                <p>助力各行各业的企业在数字时代下，为用户提供实时、精准、个性化的产品与服务，提升品牌知名度、创造网络营销利润增长点增加企业营收，降低成本。</p>
            </div>
            <div class="client">
                <ul>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/CBA.jpg" alt="">
                            </span>
                            <span class="text">神州百事通</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/DA.jpg" alt="">
                            </span>
                            <span class="text">多摩仕奥瑞</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/chanel.jpg" alt="">
                            </span>
                            <span class="text">香奈儿</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/jh.jpg" alt="">
                            </span>
                            <span class="text">晶享⾦融</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/ldq.jpg" alt="">
                            </span>
                            <span class="text">LEX绿⾖圈</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/lj.jpg" alt="">
                            </span>
                            <span class="text">LEX律箭</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/mryj.jpg" alt="">
                            </span>
                            <span class="text">每日瑜伽</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/oye.jpg" alt="">
                            </span>
                            <span class="text">喔耶</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/vhouse.jpg" alt="">
                            </span>
                            <span class="text">Vhouse</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/qbc.jpg" alt="">
                            </span>
                            <span class="text">七宝池</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/tprs.jpg" alt="">
                            </span>
                            <span class="text">太平人寿</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="img">
                                <img src="../../assets/images/xbwbh.jpg" alt="">
                            </span>
                            <span class="text">西部文博会</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>