<section class="wrapper">
    <section class="about">
        <div class="about-content">
            <div class="about-text" *ngIf="aboutData">
                <h1>{{aboutData.title}}</h1>
                <p [innerHTML]="aboutData.content"></p>
            </div>
            <div class="client">
                <ul>
                    <li *ngFor="let item of collaborateList">
                        <a href="javascript:void(0)">
                            <span class="img">
                                <img 
                                [src]="item.collaborate_image.thumb" 
                                [alt]="item.collaborate_name">
                            </span>
                            <span class="text">{{item.collaborate_name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>