<section class="wrapper">
    <section class="works" *ngIf="caseDetail">
        <div class="works-banner-img">
            <div class="img" [style.background-image]="'url(' + caseDetail.case_index_image.thumb + ')'"></div>
            <div class="banner-box"></div>
        </div>
        <div class="content">
            <div class="sub-menu">
                <dl>
                    <dt class="title">+ MENU +</dt>
                    <dd>
                        <ul *ngIf="CaseList && CaseList.length >0">
                                <!-- [routerLink]="['/case-detail', item.case_id]"  [routerLink]="[item.case_id]" routerLinkActive="active"-->
                                <!-- [routerLink]="['/case-detail', item.case_id]" routerLinkActive="active" -->
                            <li *ngFor="let item of CaseList" (click)="onSelect(item.case_id)">
                                <div class="svg-wrapper">
                                    <div id="text">
                                        <a href="javascript:void(0)">
                                            <span class="spot"></span>{{item.case_name}}</a>
                                    </div>
                                    <svg height="40" width="100%" xmlns="http://www.w3.org/2000/svg">
                                        <rect id="shape" height="40" width="100%" />
                                    </svg>
                                </div>
                            </li>

                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="article">
                <h1 class="title-en">
                    <span>{{caseDetail.case_name_en}}</span>
                </h1>
                <h1 class="title-zh">{{caseDetail.case_title}}</h1>
                <article class="article-content" [innerHTML]="caseDetail.case_content">
                </article>
                <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
        <!-- <div class="page">
            <a href="javascript:void(0)" (click)="ChangePage(caseDetail.case_id, -1)">PREV</a>
            <a href="javascript:void(0)" (click)="ChangePage(caseDetail.case_id, 1)">NEXT</a>
        </div> -->
        <div class="page">
            <a href="javascript:void(0)" (click)="changePage(false)">PREV</a>
            <a href="javascript:void(0)" (click)="changePage(true)">NEXT</a>
        </div>
    </section>
</section>

<div *ngIf="!isLoadSuccess" class="loading-box">
    <div class="loading-img">
    </div>
</div>