<section class="wrapper">
    <section class="works">
        <div class="works-banner-img">
            <div class="img" style="background-image: url(../../assets/images/work-banner-temp-1.jpg)"></div>
            <div class="banner-box"></div>
        </div>
        <div class="content">
            <div class="sub-menu">
                <dl>
                    <dt class="title">+ MENU +</dt>
                    <dd>
                        <ul>
                            <li class="active">
                                <div class="svg-wrapper">
                                    <!-- <svg height="40" width="100%" xmlns="http://www.w3.org/2000/svg">
                                        <rect id="shape" height="40" width="100%" />
                                        <div id="text">
                                        <a href="#"><span class="spot"></span>Daily Yoga</a>
                                        </div>
                                    </svg> -->
                                </div>
                            </li>
                            <li>
                                <div class="svg-wrapper">
                                    <!-- <svg height="40" width="100%" xmlns="http://www.w3.org/2000/svg">
                                        <rect id="shape" height="40" width="100%" />
                                        <div id="text">
                                        <a href="#"><span class="spot"></span>Vhouse</a>
                                        </div>
                                    </svg> -->
                                </div>
                            </li>
                        </ul>
                    </dd>

                </dl>
            </div>
            <div class="article">
                <h1 class="title-en">
                    <span>Daily Yoga</span>
                </h1>
                <h1 class="title-zh">每日瑜伽O2O订课平台系统</h1>
                <article class="article-content">
                    <p>每日瑜伽 O2O订课服务帮您找到最好最实惠的瑜伽场馆与教练，享受最贴心的瑜伽练习服务。</p>
                    <p>基于微信公众号平台，我们从系统整体架构到业务逻辑流程分析，帮助每日瑜伽开启线上线下一体化运营。会员通过线上平台订课，快速对接最好最实惠的场馆和教练。结合O2O模式，教练自己可以将空闲时间在线上平台提供出来（教练闲时利用率）用于课程服务，会员可以在线上预约教练和空闲场馆。并以会员选择的场馆为链接点，在线下场馆中开启瑜伽课程学习活动。以在线形式完成场馆和教练的预约及课程支付。</p>
                    <p>
                        <img src="../../assets/images/work-temp-1.jpg" alt="">
                    </p>
                </article>
            </div>
        </div>
        <div class="page">
            <a href="#">PREV</a>
            <a href="#">NEXT</a>
        </div>
    </section>
</section>